.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display:flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position:absolute;
  z-index: 2;
  top: 30px;
  left:64px;
  height: 32px;
}

.header__title{
  padding-left:64px;
  width: 730px;
  font-size:102px;
  text-align: left;
  font-weight: bold;
  line-height: 96px;
  z-index: 2; 
  margin: 0px;
}

.header__subtitle {
  position:absolute;
  z-index: 2;
  width: 388px;
  left:64px;
  bottom: 30px;
  font-size:18px;
  text-align: left;
  font-weight: normal;
  line-height: 25px;
  margin: 0px;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position:absolute;
  bottom:0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position:absolute;
  right: 0;
  top: 64px;
  background-color:#2f80ed;
  z-index: 0;
}

.description {
  padding-top: 100px;
  display:flex;
  justify-content:center;
}

.two-columns {
  display:flex;
  justify-content:space-between;
  flex-basis:80%;
  min-width: 784px;
  
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color:#2f80ed;
  display:flex;
  margin: 0px;
}

.two-columns__main-text {
  display:flex;
  flex-direction: column;
  flex-basis:80%;
  min-width: 784px;
  font-size:24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph{
  margin: 0px;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type{
  padding-bottom: 0px;
}

.two-columns__span-accent {
  font-size:24px;
  font-weight: bold;
  line-height: 34px;
}

.digits {
  /* border: 1px tomato solid*/
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.section-title {
  text-align: center;
  /* border: 1px tomato solid*/
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0px;
  padding-bottom: 20px;
}

.section-title_theme_light{
  color: black;
}

.section-subtitle {
  /* border: 1px tomato solid*/
  text-align: center;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0px;
}

.section-subtitle_theme_light{
  color: black;
}

.table {
  /* border: 1px tomato solid*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  padding: 0px;
  margin: 0px;
}

.table__cell {
 /* border: 1px tomato solid*/
  list-style: none;
  display: flex;
  flex-direction: column;
}

.table__cell_theme_light {
  padding-top: 60px;
  width: 250px;
  color: black;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0px;
}

.table__text {
  padding-top: 20px;
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feinman{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.feinman__title {
  padding-top:100px;
  width:648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  z-index: 1;
  text-align: center;
  margin: 0px;
}

.feinman__subtitle {
  font-size: 36px;
  font-weight: bold;
  line-height: 51px;
  padding-top: 70px;
  z-index: 1;
  margin: 0px;
}

.feinman__link {
  position:absolute;
  top:50%;
  right:48px;
  color:#2f80ed;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 1;
}

.feinman__image {
  width: 867px;
  height: 637px;
  position:absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color:white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  z-index: 0;
  right: -210px;
  top: 0px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
  z-index: 1;
}

.footer{
  min-height:350px;
  background-color:#1f1f1f;
  padding-bottom: 40px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-basis: 711px;
}

.footer__columns{
  width:90%;
  display: flex;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  width:50%;
  flex-direction: column;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: white;
  margin:0px;
}

.footer__column_content_info {
  display: flex;
  justify-content:flex-end;
  width: 25%;
}

.footer__column_heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: white;
  margin: 0px;
  display: flex;
}

.footer__column-links {
  list-style:none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px 0 16px;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration:none;
}

.footer__column_content_social {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}